version: '3.8'
services:
  backend:
    build: ./backend
    container_name: movie_backend
    volumes:
      - ./backend:/app
      - media_data:/app/media
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    container_name: movie_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  media_data:
