.movie-detail img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.movie-detail h2 {
  font-size: 36px;
  margin-bottom: 12px;
  background: linear-gradient(90deg, #0066ff, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie-detail strong {
  color: #0049a8;
}
.movie-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: right;    
}
.movie-detail h2 {
  font-size: 36px;
  margin-bottom: 12px;
  background: linear-gradient(90deg, #0066ff, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;  
}


